acl locals {
    {% for a in allowed_addresses %}
	    {{ a }};
      {% endfor %}
};
options {
	directory "/var/cache/bind";
	forwarders {
      {% for f in dns_forwarders %}
	    {{ f }};
      {% endfor %}
	};
	allow-query {locals;};
	dnssec-validation no;
	auth-nxdomain no;    # conform to RFC1035
};
zone "{{ hostvars['my_vm_2']['ansible_default_ipv4']['address'] }}" {
        type master;
        file "db.{{ startup }}";
};
